# The Phone_DeviceInterface_GUID below is defined in the .inf file of WINUSB driver on Win10(version 1809) for ADB interface.
# If the debug mode is enabled and no manufacturer-provided drivers are installed,
# your device is likely to be identified by this GUID.
ADB_DeviceInterface_GUID={F72FE0D4-CBCB-407d-8814-9ED673D0DD6B}
Audio_DeviceInterface_GUID={FEFE7E81-C5F6-4D6E-B793-4EE78E82EA41}