# The Phone_DeviceInterface_GUID below is defined in the .inf file of WINUSB driver on Win10(version 1809) for ADB interface.
# If the debug mode is enabled and no manufacturer-provided drivers are installed,
# your device is likely to be able to be identified by this GUID.
ADB_DeviceInterface_GUID={F72FE0D4-CBCB-407d-8814-9ED673D0DD6B}
# Under HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Enum\USB in regedit, locate the entry which matches the VID, PID, and MI of your device.
# Within that entry, there is a subfolder named "Device Parameters" containing a setting named "DeviceInterfaceGUIDs".
# Replace the GUID below with the one recorded there.
Audio_DeviceInterface_GUID={00000000-0000-0000-0000-000000000000}
